// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// $lvl-one: #CCE0FF;
// $lvl-two: coral;
// $lvl-three: violet;

// $lvl-one: #89c2d9;
// $lvl-two: #2c7da0;
// $lvl-three: #013a63;

$lvl-one: #efe5dc;
$lvl-two: #f3d8c7;
$lvl-three: #d0b8ac;

// #A3B18A;

//#89c2d9
//#2c7da0
//#013a63

//#d0b8ac
//#f3d8c7
//#efe5dc
