<div class="cards-hobby">
  <div class="card-hobby-container">
    <div class="card-hobby">
      <div class="card-hobby-top">
        <span class="badge badge-pill badge-lvl-one">Rookie</span>
        <div class="card-hobby-team">
          <%= image_tag "avatars/Avatar_6.jpg", class: "card-trip-user avatar-bordered" %>
          <%= image_tag "avatars/Avatar_5.jpg", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
      <div class="card-hobby-bottom">
        <p>Remote</p>
        <h6>Thu, Weekly</h6>
        <h4>Chess</h4>
      </div>
    </div>
  </div>
</div>
