<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to profile_users_path, class: "tab-underlined active" do %>
      Profile
    <% end %>
  </li>
  <li>
    <%= link_to hobbies_users_path, class: "tab-underlined" do %>
      My Hobbies
    <% end %>
  </li>
  <li>
    <%= link_to deck_users_path, class: "tab-underlined" do %>
      Hobbs Deck
    <% end %>
  </li>
  <li>
    <%= link_to requests_users_path, class: "tab-underlined" do %>
      Requests <span class="badge badge-pill badge-dark">1</span>
    <% end %>
  </li>
</ul>
