<ul class="list-inline tabs-underlined d-flex justify-content-center">
  <li>
    <%= link_to profile_users_path, class: "tab-underlined active" do %>
      Profile
    <% end %>
  </li>
  <li>
    <%= link_to deck_users_path, class: "tab-underlined" do %>
      Deck
    <% end %>
  </li>
  <li>
    <%= link_to requests_users_path, class: "tab-underlined" do %>
      Requests <span class="badge badge-pill badge-dark">2</span>
    <% end %>
  </li>
</ul>
