<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>HOBBS connects <strong>hobby seekers</strong> to <strong>hobby masters</strong>!</h1>
    <p>Find the Hobbs to your Calvin.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<h2 class="my-3">BREADCRUMBS:</h2>
<p>https://getbootstrap.com/docs/4.5/components/breadcrumb/</p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>


<h1>For User Dashboard</h1>

<h2 class="my-3">TABS:</h2>
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Dashboard</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My Hobbs</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Requests <span class="badge badge-pill badge-dark">1</span></a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Manage Skill Set</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Settings</a>
  </li>
</ul>

<h2 class="my-3">NOTIFICATIONS:</h2>
<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>

<h2 class="my-3">ALERT</h2>
<div class="alert-container">
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
    <span><strong>Mmh</strong> 🤔 seems like you don't have <a href="#">profile picture</a> yet.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
    <span><strong>Oops!</strong> 😱 a problem has occurred while processing your booking.</span>
    <a data-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>


