.badge-lvl-one {
  background-color: $lvl-one;
  color: white;
}

.badge-lvl-two {
  background-color: $lvl-two;
  color: white;
}

.badge-lvl-three {
  background-color: $lvl-three;
  color: white;
}

.badge-pill {
  padding-left: 1em;
  padding-right: 1em;
}
